@import "tailwindcss";

:root {
  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --color-primary-light: #dbeafe;
  --color-background: #ffffff;
  --color-background-secondary: #f9fafb;
  --color-background-tertiary: #f3f4f6;
  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;
  --color-text-tertiary: #9ca3af;
  --color-border: #e5e7eb;
  --color-border-hover: #d1d5db;
  --color-card: #ffffff;
  --color-card-hover: #ffffff;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
}

html.dark {
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-primary-light: #1e3a8a;
  --color-background: #414141;
  --color-background-secondary: #363636;
  --color-background-tertiary: #2b2b2b;
  --color-text-primary: #f9fafb;
  --color-text-secondary: #d1d5db;
  --color-text-tertiary: #9ca3af;
  --color-border: #4b5563;
  --color-border-hover: #6b7280;
  --color-card: #4b4b4b;
  --color-card-hover: #525252;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
}